<template lang="html">
  <DefaultLayout>
    <h3 class="text-center">Hello From Root</h3>
  </DefaultLayout>
</template>

<script>
import DefaultLayout from './core/layouts/defaultLayout.vue';

export default {
  name: "App",
  components: {
    DefaultLayout
  }
};
</script>

<style lang="scss" scoped>
</style>
