<template>
  <DefaultLayout>
    <h1 class="text-center mb-5">Welcome to <span class="text-danger">MAS</span></h1>
    <div class="row">
      <div v-for="(item, index) in new Array(3)" :key="index" class="col-md-4 my-3">
        <TheCard />
      </div>
    </div>
  </DefaultLayout>
</template>

<script>
import DefaultLayout from '../core/layouts/defaultLayout.vue';
import TheCard from './components/TheCard.vue';

export default {
  name: 'Mas',
  components: {
    DefaultLayout,
    TheCard
  }
}
</script>